<p><%= t('.greeting', recipient: @resource.email) %></p>
<p><%= t('.instruction') %></p>
<br>
<p>
<a href=<%= edit_user_password_url(@resource, reset_password_token: @token).split('/').take(3).join('/') + '/#/change_password?reset_password_token=' + @token %> >

    <%= t('.action') %>
  </a>
</p>

<p><%= t('.instruction_2') %></p>
<p><%= t('.instruction_3') %></p>
